

.addpilot{
    box-sizing: border-box;
    background-image: url('../../../../../assets/images/bg-pilot-form.webp');
    background-size: cover;
    
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: calc(100vh - 110px);
    }
    &__form{
        display: flex;
        justify-content: center;
        width:  80vw;
        height: 80%;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5.5px );
        -webkit-backdrop-filter: blur( 5.5px );
        border-radius: 10px;
        & > div{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;   
            width: 50vw;
            position: relative;
        }
    }
    &__form >div>div{
        width: 50%;
        height: 10%;
        margin-top: 40px;
        &:last-child > textarea{
            height: 170px;
        }
    }
    
    
    input, textarea{
        border: 0;
        outline: none;
        border-bottom: solid black 1px;
        width: 100%;
        background-color: transparent;
        &::placeholder{
            color: black;
            font-size: 0.9rem;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
    textarea{
        height: 100%;
    }
    h3{
        font-size: 2rem;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        letter-spacing: 5px;
    }
    
    &__btn{
        background:transparent ;
        color: #c4390e;
        border: 1.5px solid #c4390e;
        border-radius: 7px;  
        font-size: 14px;
        padding: 15px 20px;
        transition: 0.5s;
        letter-spacing: 4px;
        cursor: pointer;
    }
    &__btn:hover{
        background-color: #c4390e;
        color: black;
        box-shadow: 0px 0px 5px #c4390e, 0px 0px 25px #c4390e, 0px 0px 50px #c4390e, 0px 0px 100px #c4390e;
    }
}